/* const value */
/* color */
/* font_title */
/* font_text */
/* indent content blocks */
@media screen and (min-width: 1920px) {
  main .main__underheader_img {
    background-size: 100%; } }
body, html {
  width: 100%;
  margin: 0px; }

header {
  color: #E43D4E;
  font-family: Oswald;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  width: 87.5%;
  /*height: 100px;*/
  padding-left: 12.5%;
  background-color: #13182B; }
  header a {
    color: white;
    text-decoration: none;
    /*background-color: red;*/
    /*margin: 0px 20px 0px 20px;*/ }
    header a:hover {
      color: #E43D4E; }
  header button {
    border-width: 120px;
    cursor: pointer;
    border: 1px solid #E43D4E;
    background: #13182B;
    color: white;
    font-family: Oswald;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase; }
    header button:hover {
      color: #E43D4E; }
  header img {
    cursor: pointer; }
  header .head__dmenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  header .head__dmenu {
    margin: 40px 0px 0px 0px; }
  header .head__dbutton {
    margin: 30px 0px 0px 0px; }

main {
  width: 100%; }
  main .main__underheader_img {
    margin-top: -3px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-image: url("../img/karate_head_3.jpg");
    background-repeat: no-repeat; }
  main .main__container {
    position: relative;
    width: 250px;
    margin-left: 10%; }
    main .main__container .d-clear {
      width: 100%;
      height: 150px; }
    main .main__container h1 {
      color: white;
      font-family: Oswald;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase; }
      main .main__container h1 .main__title_pink-text {
        color: #E43D4E; }
    main .main__container .text {
      color: #8a898a;
      font-family: Oswald;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      width: 50%;
      text-transform: none; }
    main .main__container .hr-pink {
      position: absolute;
      width: 40px;
      left: auto;
      border-color: #E43D4E;
      background-color: #E43D4E; }
    main .main__container .contact {
      color: white;
      font-family: Oswald;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      background-color: #E43D4E;
      margin-top: 1.5em;
      width: 120px;
      height: 45px; }
      main .main__container .contact:hover {
        background: rgba(0, 0, 0, 0);
        color: white;
        box-shadow: inset 0 0 0 3px #E43D4E; }
  main .main__free-space {
    background-color: #13182B;
    width: 100%;
    margin-top: -4px;
    height: 100px; }
  main .main__container-info {
    width: 81.25%;
    background-color: #13182B;
    padding-left: 18.75%;
    display: grid;
    grid-template-columns: 2fr 2fr; }
    main .main__container-info .block-img img {
      /*opacity: 0.5;*/
      width: 60%;
      height: auto; }
    main .main__container-info .block-info {
      padding-top: 40px;
      width: 200px; }
    main .main__container-info .info {
      color: white;
      font-family: Oswald;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase; }
      main .main__container-info .info .main__container_redclub {
        color: #E43D4E; }
    main .main__container-info .hr-pink {
      position: absolute;
      width: 40px;
      left: auto;
      border-color: #E43D4E;
      background-color: #E43D4E; }
    main .main__container-info .info-text {
      color: white;
      font-family: "Open sans", "Century Gothic", Regular;
      font-size: 14px; }
      main .main__container-info .info-text .main__container_redinst {
        color: #E43D4E; }
    main .main__container-info .info-text_2 {
      color: #8a898a;
      font-family: "Open sans", "Century Gothic", Regular;
      font-size: 14px; }

/*# sourceMappingURL=main.css.map */
